################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Teste2/obj/Debug/net8.0
/.vs/TestePratico/FileContentIndex
/.vs/TestePratico/v17/.suo
